/* body, html {
    font-family: 'Play', sans-serif; 
} */

/* body {
    font-family: 'Play', sans-serif;
} */

.sw-text {
    font-family: 'Play', sans-serif;
}

body {
    height: 100%;
}

.space {
    margin-bottom: 20px;
}

.container {
    height: 100%;
}

.black-border {
    border: 1px solid black;
}

.blue-border {                                  /* For Testing Purposes Only */
    border: 1px solid blue;
}

/* #char1, #char2, #char3, #char4 { */
    /* width: 40%; */
    /* width: 200px; */
    /* height: 40%; */
    /* height: 200px; */
/* } */

#charSlot1, #charSlot2, #charSlot3, #charSlot4 {
    /* width: 200px; */
    /* height: 200px; */
    /* position: absolute; */
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    /* margin-top: 25px; */
    /* vertical-align: middle; */
    /* margin-top: auto; */
    /* margin: 0 auto; */
    /* margin-left: auto;
    margin-right: auto; */

}

#char1, #char2, #char3, #char4, .charHolder, .enemyHolder {
    /* position: relative; */
    width: 200px;
    height: 220px;
    /* line-height: 200px;
    padding: auto; */
}

#char1-hp, #char2-hp, #char3-hp, #char4-hp {
    vertical-align: text-bottom;
    text-align: center;
}

#char1-name, #char2-name, #char3-name, #char4-name {
    vertical-align: text-top;
    text-align: center;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Play', sans-serif;
}

.player-select {
    background-color: rgb(12, 209, 12)
}

.enemy-select {
    background-color: red;
}